= simple_form_for @category do |f|
  = f.input :name

  = f.submit @category.new_record? ? t('simple_form.labels.category.submit_new') : t('simple_form.labels.category.submit_edit'), class: 'btn btn-primary'